@use "./post.scss";
@use "../../shared/styles/nav.scss";

@mixin flex-display($gap: 0, $direction: row) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $gap;
    flex-direction: $direction;
}

main {
    min-width: 100vh;
    @include flex-display($direction: column);

    .feed-page {
        width: 100%;
        max-width: 700px;
        background-color: rgb(16, 7, 42);
        @include flex-display($direction: column);
        padding-block: 0.5rem;

        .posts {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .posts::-webkit-scrollbar {
            display: none;
        }
    }
}

